* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fondo.svg);
    background-attachment: fixed;
    background-position: center center;
    background-position: cover;
    font-family: 'Quicksand', sans-serif;
}

.buscador {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.buscador input {
    background: none;
    border: 2px solid black;
    padding: 6px;
    border-radius: 20px;
}

.buscador button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

.buscador button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-transform: scale(.9);
    transition: 0.8s ease-in-out all;
    cursor: pointer;
}

.form {

    width: 300px;
    background: linear-gradient(to bottom, black, rgb(94, 24, 24), rgb(94, 24, 24), black);
    padding: 23px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
    text-align: center;
}

.formulario {
    width: 85%;
    background: none;
    border: none;
    border-bottom: 2px dashed rgb(0, 0, 0);
    outline: none;
    margin: 16px;
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
}

::placeholder {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.block {
    display: inline-block;
}

.sumarprod {
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    background: black;
    color: whitesmoke;
    border: none;
    padding: 10px;
    margin: 14px 0;
    font-size: 14px;
    border-radius: 7px;
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.233);
}

.sumarprod:hover {
    background-color: rgb(134, 9, 9);
    color: black;
    font-weight: bold;
    font-size: 14px;
    text-transform: scale(.9);
    transition: 0.8s ease-in-out all;
    cursor: pointer;
}
#tabla{
    margin-left:-15px;
    margin-top: 45px;
    margin-bottom: 45px;
}
.name, .precio, .stock{
    text-align: center;

}